*{
	margin: 0;
	box-sizing: border-box;
}
img {
	vertical-align: bottom;
	max-width: 100%;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
}
.container {
	max-width: 1920px;
    padding: 0 180px;
    margin: 0 auto;
}
.main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.social {
	width: 30%;
}
.header img {
	max-width: 100%;
}
.offers span {
    font-weight: 600;
    font-size: 17px;
    margin-left: 12px;
}
.offers {
	display: flex;
    justify-content: center;
    align-items: center;
}
 .soc-offers {
 	margin-left: 50px;
 }
.inner-container {
	padding: 0 188px;
}
 .top-header {
 	background: #f5f5f5;
 	padding: 10px 0;
 }
 .free-quote {
 	font-weight: bold;
 	font-size: 20px;
 	margin-top: 23px;
 }
 .free-quote p {
 	font-weight: bold;
 	color: #29272C;
 	line-height: 33px;
 }
 .free-quote a {
 	color: #A20908;
 	display: block;
 	text-align: center;

 }
 .weed-problems p {
 	font-size: 17px;
 	font-weight: bold;
 	line-height: 22px;
 }
 .weed-problems small {
 	font-size: 12px;
 }
 .weed-problems {
 	background: #75C043;
    color: #fff;
    box-shadow: -1px 4px 6px #00000029;
    border: 4px solid #FFFFFF;
    border-radius: 13px 0px 0px 13px;
    padding: 8px;
    height: 86px;
 }
 .inner-header {
 	padding: 15px 0 0;
 }
 .logo-col {
 	padding-bottom: 15px;
 }
 .menu a {
 	font-weight: 600;
 	color: #fff;
 	font-size: 16px;
 }
 .mob {
    display: none;
}
.collapse {
    display: block;
}
 .menu-items {
 	background: #A20908;
 	padding: 12px 0;
 }
 .menu {
 	display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 80%;
 }
 /* header css complete */

 /* Section 1 css start */
.kid-friendly {
	background: url(../images/banner1.png) no-repeat;
	background-size: cover;
    padding: 100px;
    color: #fff;
}
.info {
    background: rgb(0 0 0 / 0.5);
    border-radius: 18px;
    padding: 30px;
    width: 46%;
    margin-left: 20px;
}
.info h1 {
	font-size: 50px;
}
.info p {
	font-weight: 600;
    font-size: 26px;
    line-height: 50px;
}
.schedule {
	background: #A20908;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 18px;
    margin-top: 15px;
}

/* section 2 css start*/
.free-estimate {
    width: 73%;
    margin: 0 auto;
    box-shadow: 0px 8px 27px #0000001C;
    border-radius: 10px;
    background: #fff;
    padding: 15px;
    position: absolute;
    top: -40px;
    z-index: 3;
    left: 13%;
}
.free-estimate h4 {
	line-height: 25px;
    color: #29272C;
    font-weight: bold;
    font-size: 20px;
    width: 9%;
    text-align: center;
}
.heading {
	color: #29272C;
    font-size: 28px;
}
.background {
	background: url(../images/download.png) #c5cac300;
    background-size: 25px;
    min-height: 14px;
    position: relative;
    top: -114px;
}
.pest-services {
	position: relative;
	padding: 100px 0 50px;
	background: url(../images/download.png);
}
.free-estimate form input, .free-estimate form select {
    background: #F5F5F5;
    border: 1px solid #CFCFCF;
    border-radius: 5px;
    outline: 0;
    padding: 10px;
    color: #828282;
    font-size: 16px;
    width: 180px;
    height: 40px;
}
.free-estimate form {
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 89%;
}
.btn {
    background: #A20908;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    height: 40px;
}
.free-estimate p {
	width: 78%;
    font-size: 14px;
    margin: -23px auto 0;
}
.free-estimate p a {
	color: #A20908;
    font-weight: 600;
}
.pest-boxes {
    width: 32%;
    box-shadow: 0px 8px 27px #0000001C;
	border-radius: 10px;
	padding: 15px;
}
.pest-boxes h4 {
	color: #29272C;
	font-size: 18px;
	margin: 20px 0 5px;
}
.pest-boxes a {
	color: #A20908;
	font-weight: 600;
	font-size: 15px;
}
.pest-boxes:nth-child(1), .pest-boxes:nth-child(2), .pest-boxes:nth-child(3) {
	margin-bottom: 20px;
}
.pest-services h2 {
    text-align: center;
    margin-top: 18px;
}
.pest-txt {
	text-align: center;
    color: #29272C;
    opacity: 0.8;
    font-size: 15px;
    width: 92%;
    margin: 10px auto 23px;
}
/* section 3 css start */
.serving {
	width: 48%;
}
.family-info {
    background: #F1F1F1;
    padding: 80px 0 50px;
}
.serving-kings {
	color: #333333;
	font-weight: 600;
	font-size: 24px;
	margin: 5px 0 20px;
	position: relative;
}
.serving-kings:after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 3px solid #29272c;
    position: absolute;
    bottom: -20px;
}
.trans-img {
	background: #A20908;
    border-radius: 7px;
    padding: 5px;
}
.serving .box {
	display: flex;
	justify-content: start;
	margin-top: 33px;
}
.local-txt p {
	width: 73%;
    margin-left: 10px;
    color: #333333;
    font-weight: bold;
    font-size: 16px;
}
.serving strong {
	color: #9F1C38;
    font-size: 18px;
    margin: 15px 0 10px;
    display: inline-block;
}
.full-txt {
	color: #29272C;
	font-size: 15px;
	width: 99%;
	opacity: 0.8;
}
.full-txt span {
	font-weight: bold;
}
.serving a {
    margin-top: 20px;
}
/* section 4 css start */
.slider-box {
	width: 32%;
	box-shadow: 0px 8px 27px #0000001C;
	border: 2px solid #29272C24;
}
.inner-box {
	background: rgb(141 141 141 / 0.1);
	padding: 10px;
	display: flex;
}
.testimonials .bx-wrapper {
	background: transparent;
	border: none;
	box-shadow: none;
}
.stars {
	margin-left: 10px;
}
.stars .fa {
	color: #E68E09;
}
.stars p {
    font-weight: 600;
    color: #29272C;
    font-size: 16px;
}
.testi-txt {
	font-weight: 600;
	color: #29272C;
	font-size: 15px;
	opacity: 0.8;
	line-height: 25px;
    padding: 15px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #A20908;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #DFDFDF;
}
.testimonials .bx-wrapper .bx-next, .testimonials .bx-wrapper .bx-prev {
    width: 33px;
    height: 33px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
}

.testimonials .bx-wrapper .bx-next {
	right: -15px;
	background: url(../images/right-arrow.png) no-repeat #fff;
	background-position: center;
}
.testimonials .bx-wrapper .bx-prev {
	left: -20px;
	background: url(../images/left-arrow.png) no-repeat #fff;
	background-position: center;
}
.testimonials .review {
	width: 21%;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.testimonials {
    padding: 60px 0;
}
.testimonials h2 {
    margin-bottom: 30px;
    text-align: center;
}
.direction iframe {
	width: 100%;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid #7070709c;
    border-radius: 4px;
}
.direction h2 {
	margin-bottom: 30px;
	text-align: center;
}
.direction {
    background: #F1F1F1;
    padding: 60px 0;
}
/* section 6 css start */
.get-quote {
	background: #A20908;
	padding: 30px 0;
	color: #fff;
}
.call {
	color: #fff;
}
.contact {
	color: #333333;
    background: #fff;
    width: 16%;
    text-align: center;
    margin: 25px auto 0;
    display: block;
}
.get-quote h3 {
	text-align: center;
	font-size: 28px;
}
/* footer css code start*/
.footer-info {
	width: 24%;
	color: #29272C;
}
.first {
	display: flex;
}
.footer-info .fa, .footer-info .fas, .footer-info .far {
    font-size: 18px;
    margin-right: 10px;
}
.footer-info address, .footer-info span, .footer-info a, .footer-info p {
	font-size: 15px;
	font-weight: 600;
	font-style: normal;
	color: #29272C;
}
.footer {
	padding: 30px 0 0;
	position: relative;
}
.first:nth-child(2), .first:nth-child(3) {
    margin-top: 15px;
}
.footer-info:not(:last-child) {
    border-right: 1px solid rgb(41 39 44 / 0.5);
}
.footer-social {
	width: 31px;
	height: 31px;
}
.footer-info address span {
    display: block;
}
.footer-info address {
    width: 80%;
}
.footer .main:after {
    content: "";
    display: block;
    width: 64%;
    border-bottom: 1px solid rgb(41 39 44 / 0.25);
    position: absolute;
    bottom: 44px;
    left: 18%;
}
.footer .main {
    margin-bottom: 15px;
}
.copyright {
	font-size: 15px;
	color: #29272C;
	padding: 25px 0 12px;
	text-align: center;
}
/* Responsive for mobile */

@media screen and (max-width: 480px) {
    .inner-container {
        padding: 0 15px;
    }

    .social {
        width: 37%;
    }
    .offers {
        width: 63%;
    }
    .offers span {
        font-weight: 600;
        font-size: 12px;
        margin-left: 8px;
    }
    .soc-offers {
        margin-left: 20px;
    }
    .social img {
        width: 18%;
    }
    .inner-container .main {
        flex-wrap: nowrap;
    }
    .offers img {
        width: 10%;
    }
    .mob {
        display: block;
        background: transparent;
        border: none;
        position: absolute;
        top: 18px;
        cursor: pointer;
        right: 10px;
        outline: 0;
    }
    .inner-header {
        position: relative;
    }
    .mob span {
        width: 32px;
        margin: 3px;
        border: 3px solid #A20908;
        display: block;
    }
    .collapse {
        display: none;
        position: absolute;
        display: none;
        top: 123px;
        background: #A20908;
    }
    .container {
        padding: 0 15px;
    }
    .logo-col {
        padding-bottom: 0;
    }
    .free-quote {
        margin-top: 0;
        font-size: 13px;
        width: 50%
    }
    .weed-problems {
        height: auto;
        width: 48%;
    }
    .weed-problems p {
        line-height: 18px;
        font-size: 13px;
    }
    .weed-problems small {
        font-size: 9px;
        display: block;
    }
    .free-quote p {
        line-height: 23px;
    }
    .menu {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        background: #ffffff1f;
        text-align: center;
    }
    .menu li {
        width: 100%;
        padding: 10px;
        
    }
    .menu li:not(:last-child) {
        margin-bottom: 10px;
        border-bottom: 1px solid #fff;
    }
    .menu-items .container {
        padding: 0;
    }
    .menu-items {
        background: transparent;
    }
    .menu a {
        font-size: 14px;
    }
    .logo-col img {
        width: 80%;
    }
    .info {
        width: 100%;
        margin-left: 0;
    }
    .info h1 {
        font-size: 25px;
    }
    .info p {
        font-size: 15px;
        line-height: 40px;
    }
    .schedule {
        padding: 10px 15px;
        font-size: 15px;
        margin-top: 8px;
    }
    .free-estimate h4 {
        width: 100%;
    }
    .free-estimate form {
        width: 100%;
    }
    .free-estimate form input, .free-estimate form select {
        width: 80%;
        margin: 5px auto;
        height: 33px;
        font-size: 14px;
        padding: 0 10px;
    }
    .free-estimate h4 {
        font-size: 17px;
    }
    .kid-friendly {
        padding: 30px 44px;
        background-position: right center;
    }
    .btn {
        width: 80%;
        height: 33px;
        margin: 8px auto 0;
    }
    .free-estimate p {
        width: 80%;
        font-size: 13px;
        margin: 5px auto 0;
        text-align: center;
    }
    .free-estimate {
        width: 80%;
        position: static;
    }
    .heading {
        font-size: 20px;
    }
    .pest-services {
        padding: 30px 0 44px;
    }
    .background {
        top: -39px;
    }
    .pest-txt {
        font-size: 13px;
        width: 100%;
        margin: 10px auto 12px;
    }
    .pest-boxes {
        width: 48%;
        margin: 15px 0;
    }
    .pest-boxes img {
        width: 18%;
    }
    .pest-boxes h4 {
        font-size: 14px;
        margin: 8px 0 0;
    }
    .pest-boxes a {
        font-size: 13px;
    }
    .pest-boxes:nth-child(1), .pest-boxes:nth-child(2), .pest-boxes:nth-child(3) {
        margin-bottom: 0;
    }
    .pest-services h2 {
        margin-top: 30px;
    }
    .serving {
        width: 100%;
    }
    .serving h3 {
        margin-top: 30px;
    }
    .serving-kings {
        font-size: 18px;
    }
    .local-txt p {
        font-size: 15px;
    }
    .serving strong {
        font-size: 19px;
        text-align: center;
    }
    .full-txt {
        width: 100%;
        font-size: 13px;
    }
    .serving a {
        margin-top: 15px;
    }
    .family-info {
        padding: 30px 0;
    }
    .slider-box {
        width: 100%;
    }
    .testimonials .bx-wrapper .bx-next, .testimonials .bx-wrapper .bx-prev {
        width: 23px;
        height: 23px;
    }
    .testi-txt {
        font-size: 13px;
        line-height: 19px;
    }
    .testimonials .bx-wrapper .bx-next {
        right: -10px;
        background-size: 10px;
    }
    .testimonials .bx-wrapper .bx-prev {
        left: -10px;
        background-size: 10px;
    }
    .testimonials {
        padding: 30px 0;
    }
    .get-quote h3 {
        font-size: 17px;
    }
    .contact, .testimonials .review {
        width: 40%;
        font-size: 13px;
    }
    .direction {
        padding: 30px 0;
    }
    .footer-info {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .footer-info:not(:last-child) {
        border: 0;
    }
    .first {
        margin-top: 15px;
    }
    .end-img {
        width: 44%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer .main:after {
        bottom: 63px;
    }
    .copyright {
        font-size: 12px;
        padding: 0 0 12px;
    }
    .footer-info address, .footer-info span, .footer-info a, .footer-info p {
        font-size: 13px;
    }
}
@media screen and (max-width: 410px) {
    .logo-col img {
        width: 60%;
    }
    .weed-problems {
        margin: 10px auto 0;
        width: 61%;
    }
    .collapse {
        top: 100px;
    }
    .offers span {
        margin-left: 6px;
        font-size: 10px;
    }
    .free-quote {
        width: 100%;
        text-align: center;
    }
    .soc-offers {
        margin-left: 15px;
    }
    .kid-friendly {
        padding: 30px 19px;
    }
    .info h1 {
        font-size: 22px;
    }
    .info p {
        font-size: 14px;
        line-height: 28px;
    }
    .schedule {
        font-size: 12px;
    }
    .heading {
        font-size: 18px;
    }
    .pest-boxes img {
        width: 25%;
    }
    .contact, .testimonials .review {
        width: 50%;
        font-size: 12px;
    }
    .footer-info address, .footer-info span, .footer-info a, .footer-info p {
        font-size: 12px;
    }
    .first {
        width: 100%;
    }
}
